@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body{
    background: url(https://images.unsplash.com/photo-1679715504051-e218e6949815?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDR8Ym84alFLVGFFMFl8fGVufDB8fHx8&auto=format&fit=crop&w=700&q=60) no-repeat center center/cover;
    height:100vh;
    position:relative;
}
#open-btn{
    position:absolute;
    top:70%;
    left:10%;
    width:350px;
    height: 80px;
    /* transform:translate(-50%,-50%); */
    background-color: transparent;
    color: #fff;
    font-size: 2rem;
    padding: 10px 15px;
    margin-top: 20px;
    border:2px solid #fff;
    border-radius: 5px;
    cursor:pointer;
    box-shadow: 0 0 3px black;
    transition:.5s
}
#open-btn:hover{
    background-color: #fff;
    color: #262626;
}
#modal{
    background-color:#fff;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:200px;
    height: 100px;
    padding:10px 20px;
    border-radius:5px;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation-name:animatemodal;
    animation-duration: .4s;


}
#close-btn{
    font-size: 3rem;
}
#close-btn{
    cursor:pointer;
    font-size: 3rem;
    color:#ff0000;
}
#modal-container{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.1);
}
 @keyframes animatemodal{
    from{
        top:-300px;
        opacity:0;
    }
    to{
        top:50%;
        opacity:1;
    }
 }